    <div class="takeda-sites">
        <h2 class="block-title">{{ 'Choose a therapeutic area' }}</h2>
            <div class="container">
                <div class="landing">
                    <h3 class="landing-title">{{ 'Oncology' }}</h3>
                        <div id="mm-hcp" class="site-name"><a href="#" >{{ 'Multiple Myeloma' }}</a></div>
                        <div id="hl-hcp" class="site-name"><a href="#" >{{ 'Hodkin’s Lymphoma' }}</a></div>
                        <div id="alumbring" class="site-name"><a href="#" >{{ 'ALK+ NSCLC' }}</a></div>
                </div>
                <div class="landing">
                    <h3 class="landing-title">{{ 'Gastroenterology' }}</h3>
                        <div id="alofisel" class="site-name"><a href="#" >{{ 'Complex Perianal Fistulae' }} </a></div>
                        <div id="entyvio" class="site-name"><a href="#" >{{ 'Inflammaroty Bowel Disease' }}</a></div>
                </div>
                <div class="landing">
                    <h3 class="landing-title">{{ 'Rare diseases' }}</h3>
                        <div class="site-description">{{ 'Immunology & HAE' }}</div>
                            <div id="hae" class="site-name"><a href="#" >{{ 'Hereditary angioedema (HAE)' }}</a></div>
                        <div class="site-description">{{ 'Haematology' }}</div>
                            <div id="hemo" class="site-name"><a href="#" >{{ 'Hemophilia A' }}</a></div>
                        <div class="site-description">{{ 'Rare metabolic diseases' }}</div>
                            <div id="mf" class="site-name"><a href="#" >{{ 'Morbus Fabry' }}</a></div>
                </div>
                <div class="landing">
                    <h3 class="landing-title">{{ 'General practice' }}</h3>
                        <div id="reflux" class="site-name"><a href="#" >{{ 'Reflux' }}</a></div>
                </div>
            </div>
    </div> 